<div class="spinner_block" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="addModal_content" *ngIf="addTable">
  <div class="addModal_block">
    <i class="fas fa-times" (click)="addTable = false"></i>
    <form class="addForm" [formGroup]="usersAddForm">
      <input class="addtable" type="text" placeholder="ФИО" formControlName="fio">
      <input class="addtable" type="text" placeholder="Логин" formControlName="login">
      <input class="addtable" type="text" placeholder="Пароль" formControlName="password">
      <select class="addtable" formControlName="role">
        <option>admin</option>
      </select>
      <button class="addButton"  [disabled]="usersAddForm.invalid" [ngStyle]="{opacity: usersAddForm.invalid ? '.6' : '1'}" (click)="addNewTable()">OK</button>
    </form>
  </div>
</div>

<div class="editModal_content" *ngIf="editTable">
  <div class="editModal_block">
    <i class="fas fa-times" (click)="editTable = false" ></i>
    <form class="editForm" [formGroup]="usersEditForm">
      <input class="addtable" type="text" placeholder="ФИО" formControlName="fio">
      <input class="addtable" type="text" placeholder="Логин" formControlName="login">
      <input class="addtable" type="text" placeholder="Пароль" formControlName="password">
      <select class="addtable" formControlName="role">
        <option>admin</option>
      </select>
      <button class="editButton" [disabled]="usersEditForm.invalid" [ngStyle]="{opacity: usersEditForm.invalid ? '0.6' : '1'}" (click)="editNewTable()">ОК</button>
    </form>
  </div>
</div>

<div class="devide_block">
  <app-header></app-header>

  <div class="container">
    <div class="container_content">
      <div class="title_block">
        <h1>Пользователи</h1>
        <button (click)="addTable = true">Добавить</button>
        <!-- <div class="search_block">
          <i class="fa fas fa-search"></i>
          <input type="search" placeholder="Поиск" [(ngModel)]="search">
        </div> -->
      </div>

      <div class="filter_content">
        <form class="filter_form">
          <div class="filter_block" [formGroup]="usersFilterForm">
            <input type="text" placeholder="ФИО" formControlName="fio">
            <input type="text" placeholder="Логин" formControlName="login">
            <select class="addtable" formControlName="role">
              <option value="">Все</option>
              <option>admin</option>
            </select>
            <button (click)="filterTable()">ОК</button>
          </div>

          <!-- <div class="pagination_block">
            <input type="number" placeholder="0">
          </div> -->
        </form>
      </div>

      <div class="table_container">
        <table class="resp-tab">
          <thead>
            <tr>
              <th>ID</th>
              <th>ФИО</th>
              <th>Логин</th>
              <th>Роль</th>
              <th>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle class="c1" cx="10" cy="10" r="9.5" stroke="black"/>
                  <circle class="c2" cx="10" cy="10" r="3" fill="black"/>
                </svg>  
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let users of usersData">
              <td><span>ID</span>
                <h1>{{ users.id}}</h1>
              </td>

              <td><span>ФИО</span>
                <h1>{{ users.fio}}</h1>
              </td>

              <td><span>Логин</span>
                <h1>{{ users.login}}</h1>
              </td>

              <td><span>Роль</span>
                <h1>{{ users.role}}</h1>
              </td>

              <td><span>Действия</span>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                 >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openEditTable(users.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Изменить</span>
                  </button>

                  <button mat-menu-item (click)="deleteTable(users.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Удалить</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination_block">
        <pagination-controls nextLabel="Далее" previousLabel="Назад" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
