<div class="spinner_block" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="addModal_content" *ngIf="addTable">
  <div class="addModal_block">
    <i class="fas fa-times" (click)="addTable = false"></i>
    <form class="addForm" [formGroup]="accountsAddForm">
      <input class="addtable" type="text" placeholder="ФИО" formControlName="fio">
      <select class="addtable" formControlName="tarif_id">
        <option *ngFor="let tarifs of tarifsData" [value]="tarifs.id" >{{ tarifs.name }}</option>
      </select>
      <input class="addtable" type="text" placeholder="Телефон" formControlName="phone_number"> 
      <input class="addtable" type="number" placeholder="Коэфиценть цены" formControlName="price_cf"> 
      <input class="addtable" type="number" placeholder="Коэфиценть скороста" formControlName="speed_cf"> 
      <div class="ip_block">
        <input class="ip_input" type="number" placeholder="000" (keyup)="ipadress1()"  maxlength="3" formControlName="ipaddress1">
        <span class="ip_span">.</span>
        <input class="ip_input" type="number" placeholder="000" (keyup)="ipadress2()" maxlength="3" formControlName="ipaddress2">
        <span class="ip_span">.</span>
        <input class="ip_input" type="number" placeholder="000" (keyup)="ipadress3()" maxlength="3" formControlName="ipaddress3">
        <span class="ip_span">.</span>
        <input class="ip_input" type="number" placeholder="000" (keyup)="ipadress4()" maxlength="3" formControlName="ipaddress4">
      </div>
      <input class="addtable" type="text" placeholder="Адрес" formControlName="acc_info">
      <input class="addtable" type="text" placeholder="Паспорт" formControlName="passport">
      <input class="addtable" type="date" placeholder="Год рождения" formControlName="age">
      <select formControlName="gender">
        <option value="M">Man</option>
        <option value="F">Female</option>
      </select>
      <input class="addtable" type="text" placeholder="Onu/Port" formControlName="comment">
      <button class="addButton" [disabled]="accountsAddForm.invalid" [ngStyle]="{opacity: accountsAddForm.invalid ? '.6' : '1'}"  (click)="addNewTable()">OK</button>
    </form>
  </div>
</div>

<div class="editModal_content" *ngIf="editTable">
  <div class="editModal_block">
    <i class="fas fa-times" (click)="editTable = false" ></i>
    <form class="editForm" [formGroup]="accountsEditForm">
      <input class="addtable" type="text" placeholder="ФИО" formControlName="fio">
      <select class="addtable" formControlName="tarif_id">
        <option *ngFor="let tarifs of tarifsData" [value]="tarifs.id" >{{ tarifs.name }}</option>
      </select>
      <input class="addtable" type="number" placeholder="Коэфиценть цены" formControlName="price_cf"> 
      <input class="addtable" type="number" placeholder="Коэфиценть скороста" formControlName="speed_cf"> 
      <input class="addtable" type="text" placeholder="Телефон" formControlName="phone_number"> 
      <div class="ip_block">
        <input class="ip_input" type="number" placeholder="000" (keyup)="ipadress1()"  maxlength="3" formControlName="ipaddress1">
        <span class="ip_span">.</span>
        <input class="ip_input" type="number" placeholder="000" (keyup)="ipadress2()" maxlength="3" formControlName="ipaddress2">
        <span class="ip_span">.</span>
        <input class="ip_input" type="number" placeholder="000" (keyup)="ipadress3()" maxlength="3" formControlName="ipaddress3">
        <span class="ip_span">.</span>
        <input class="ip_input" type="number" placeholder="000" (keyup)="ipadress4()" maxlength="3" formControlName="ipaddress4">
      </div>
      <input class="addtable" type="text" placeholder="Адрес" formControlName="acc_info">
      <input class="addtable" type="text" placeholder="Паспорт" formControlName="passport">
      <input class="addtable" type="date" placeholder="Год рождения" formControlName="age">
      <select formControlName="gender">
        <option value="M">Man</option>
        <option value="F">Female</option>
      </select>
      <input class="addtable" type="text" placeholder="Onu/Port" formControlName="comment">
      <button class="editButton" [disabled]="accountsEditForm.invalid" [ngStyle]="{opacity: accountsEditForm.invalid ? '0.6' : '1'}" (click)="editNewTable()">ОК</button>
    </form>
  </div>
</div>

<div class="uslugi_modal-container" *ngIf="uslugiModal">
  <div class="uslugi_modal-content">
    <i class="fas fa-times" (click)="uslugiModal = false"></i>
    <div class="uslugi_modal-block">
      <table class="resp-tab-modal">
        <thead>
            <tr>
                <th>Название</th>
                <th>Дата начало</th>
                <th>Дата окончания</th>
                <th>Цена</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let servicesLink of servicesLinkData">
                <td><span class="table_span-modal">Название</span>{{ servicesLink.service?.name }}</td>
                <td><span class="table_span-modal">Дата начало</span>{{ servicesLink.created_at | date: 'dd-MM-yyyy' }}</td>
                <td><span class="table_span-modal">Дата окончания</span>{{ servicesLink.expire_at | date: 'dd-MM-yyyy' }}</td>
                <td><span class="table_span-modal">Цена</span>{{ servicesLink.service?.price }}</td>
                <td><span class="table_span-modal">Статус</span>{{ servicesLink.deleted ? 'Удаленно' : 'Активный' }}</td>
                <td><span class="table_span-modal">Действия</span><h1 style="font-size: 12px;" (click)="deleteService(servicesLink.id)">Удалить</h1></td>
            </tr>
        </tbody>
    </table>

    <form class="service_add-block" [formGroup]="addServiceForm">
      <input class="addtable" type="date" formControlName="created_at">
      <select formControlName="name">
        <option *ngFor="let servicesData of servicesData" [value]="servicesData.id">{{ servicesData.name }}</option>
      </select>
      <button [disabled]="addServiceForm.invalid" [ngStyle]="{opacity: addServiceForm.invalid ? '.6' : '1'}" (click)="addNewService()">Добавить</button>
    </form>
    </div>
  </div>
</div>


<div class="uslugi_modal-container" *ngIf="paymentModal">
  <div class="uslugi_modal-content">
    <i class="fas fa-times" (click)="paymentModal = false"></i>
    <div class="uslugi_modal-block">
    <form class="payment_add-block" [formGroup]="addPaymentForm">
      <input type="number" placeholder="Сумма" formControlName="summa">
      <input type="text" placeholder="Коментарии" formControlName="comment">
      <button (click)="addNewPayment()" [disabled]="addPaymentForm.invalid" [ngStyle]="{opacity: addPaymentForm.invalid ? '.6' : '1'}">Добавить</button>
    </form>
    </div>
  </div>
</div>

<div class="uslugi_modal-container" *ngIf="creditModal">
  <div class="uslugi_modal-content">
    <i class="fas fa-times" (click)="creditModal = false"></i>
    <div class="uslugi_modal-block">
      <table class="resp-tab-modal">
        <thead>
            <tr>
                <th>ID</th>
                <th>Дата начало</th>
                <th>Дата окончания</th>
                <th>Коментарии</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let credit of creditData">
                <td><span class="table_span-modal">ID</span>{{ credit.id }}</td>
                <td><span class="table_span-modal">Дата начало</span>{{ credit.created_at | date: 'dd-MM-yyyy' }}</td>
                <td><span class="table_span-modal">Дата окончания</span>{{ credit.expire_at | date: 'dd-MM-yyyy' }}</td>
                <td><span class="table_span-modal">Коментарии</span>{{ credit.comment }}</td>
                <td><span class="table_span-modal">Статус</span>{{ credit.deleted ? 'Удаленно' : 'Активный' }}</td>
                <td style="display: flex;"><span class="table_span-modal">Действия</span>
                  <h1 style="font-size: 12px;" (click)="changeCredit(credit.id)">Изменить</h1>
                </td>
            </tr>
        </tbody>
    </table>

    <form style="align-items: center;" class="service_add-block" [formGroup]="addCreditForm">
      <textarea style="width: 230px; height: 56px; padding: 10px; outline: none;" placeholder="Коментарии" formControlName="comment"></textarea>
      <input style="width: 100%;" class="addtable" type="date" formControlName="expire_at">
      <button *ngIf="!editCredit" [disabled]="addCreditForm.invalid" [ngStyle]="{opacity: addCreditForm.invalid ? '.6' : '1'}" (click)="addNewCredit()">Добавить</button>
      <button *ngIf="editCredit" [disabled]="addCreditForm.invalid" [ngStyle]="{opacity: addCreditForm.invalid ? '.6' : '1'}" (click)="addEditCredit()">Изменить</button>
    </form>
    </div>
  </div>
</div>

<div class="devide_block">
  <app-header></app-header>

  <div class="container">
    <div class="container_content">
      <div class="title_block">
        <h1>Аккаунты</h1>
        <button (click)="addTable = true">Добавить</button>
      </div>

      <div class="filter_content">
        <form class="filter_form">
          <div class="filter_block" [formGroup]="accountsFilterForm">
            <input type="text" placeholder="Лицевой Счёт" formControlName="id">
            <input type="text" placeholder="ФИО" formControlName="fio">
            <select class="addtable" formControlName="tarif_id">
              <option value="">Все</option>
              <option *ngFor="let tarifs of tarifsData" [value]="tarifs.id">{{ tarifs.name }}</option>
            </select>  
            <input type="text" placeholder="Скорость" formControlName="speed_cf">
            <input type="text" placeholder="Адрес" formControlName="acc_info">
            <input type="text" placeholder="Паспорт" formControlName="passport">
            <input type="date" placeholder="Год рождения" formControlName="age">
            <select formControlName="gender">
              <option value="">Все</option>
              <option value="M">Man</option>
              <option value="F">Female</option>
            </select>
            <input type="text" placeholder="Ip Адрес" formControlName="ipaddress">
            <input type="text" placeholder="ONU/PORT" formControlName="comment">
            <select formControlName="status">
              <option value="">Все</option>
              <option>On</option>
              <option>Off</option>
            </select>
            <input type="date" formControlName="start_create">
            <input type="date" formControlName="end_create">
            <input type="date" formControlName="start_date">
            <input type="date" formControlName="end_date">
            <button (click)="filterTable()">ОК</button>
          </div>

          <!-- <div class="pagination_block">
            <input type="number" placeholder="0">
          </div> -->
        </form>
      </div>

      <div class="table_container">
        <table class="resp-tab">
          <thead>
            <tr>
              <th>Лиц.Счёт</th>
              <th>ФИО</th>
              <th>Тариф</th>
              <th>Баланс</th>
              <th>Цена</th>
              <th>Скорость</th>
              <th>Телефон</th>
              <th>Дата Окончания</th>
              <th>IP Адрес</th>
              <th>Адрес</th>
              <th>Паспорт</th>
              <th>Год Рождения</th>
              <th>Пол</th>
              <th>Девайс</th>
              <th>Овердрафта</th>
              <th>Onu/Port</th>
              <th>Статус</th>
              <th>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle class="c1" cx="10" cy="10" r="9.5" stroke="black"/>
                  <circle class="c2" cx="10" cy="10" r="3" fill="black"/>
                </svg>  
              </th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let accounts of accountsData" [formGroup]="accountsEditForm">
              <td><span class="table_span">Лиц.Счёт</span>
                <h1>{{ accounts.id }}</h1>
              </td>

              <td><span class="table_span">ФИО</span>
                <h1>{{ accounts.fio }}</h1>
              </td>

              <td><span class="table_span">Тариф</span>
                <h1>{{ accounts.tarif.name }}</h1>
              </td>

              <td><span class="table_span">Баланс</span>
                <h1>{{ accounts.balance }}</h1>
              </td>

              <td><span class="table_span">Цена</span>
                <h1>{{ accounts.price_cf }}</h1>
              </td>

              <td><span class="table_span">Скорость</span>
                <h1>{{ accounts.speed_cf }}</h1>
              </td>

              <td><span class="table_span">Телефон</span>
                <h1>{{ accounts.phone_number }}</h1>
              </td>

              <td><span class="table_span">Дата Окончания</span>
                <h1>{{ accounts.end_date | date: 'dd-MM-yyyy' }}</h1>
              </td>

              <td><span class="table_span">IP Адрес</span>
                <h1>{{ accounts.ipaddress }}</h1>
              </td>
              
              <td><span class="table_span">Адрес</span>
                <h1>{{ accounts.acc_info }}</h1>
              </td>

              <td><span class="table_span">Паспорт</span>
                <h1>{{ accounts.passport }}</h1>
              </td>

              <td><span class="table_span">Год Рождения</span>
                <h1>{{ accounts.age | date: 'dd-MM-yyyy' }}</h1>
              </td>

              <td><span class="table_span">Пол</span>
                <h1>{{ accounts.gender }}</h1>
              </td>

              <td><span class="table_span">Девайс</span>
                <h1>{{ accounts.device_type?.name }}</h1>
              </td>

              <td *ngIf="accounts.overdraft < 2"><span class="table_span">Овердрафта</span>
                <h1>Нет</h1>
              </td>

              <td *ngIf="accounts.overdraft > 1"><span class="table_span">Овердрафта</span>
                <h1>Да</h1>
              </td>

              <td><span class="table_span">Onu/Port</span>
                <h1>{{ accounts.comment }}</h1>
              </td>

              <td><span class="table_span">Статус</span>
                <h1>{{ accounts.account_status?.status }}</h1>
              </td>

              <td><span class="table_span">Действия</span>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openEditTable(accounts.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Изменить</span>
                  </button>

                  <button mat-menu-item (click)="deleteTable(accounts.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Удалить</span>
                  </button>

                  <button mat-menu-item (click)="openUslugiModal(accounts.id)">
                    <mat-icon>rss_feed</mat-icon>
                    <span>Услуги</span>
                  </button>

                  <button mat-menu-item (click)="openPaymentModal(accounts.id)">
                    <mat-icon>payments</mat-icon>
                    <span>Оплата</span>
                  </button>

                  <button mat-menu-item *ngIf="accounts.account_status?.status == 'On'" (click)="lockAccountOff(accounts.id)">
                    <mat-icon>lock</mat-icon>
                    <span>Заблокировать</span>
                  </button>

                  <button mat-menu-item *ngIf="accounts.account_status?.status == 'Off'" (click)="lockAccountOn(accounts.id)">
                    <mat-icon>lock_open</mat-icon>
                    <span>Разблокировать </span>
                  </button>

                  <button mat-menu-item (click)="refreshAccount(accounts.id)">
                    <mat-icon>refresh</mat-icon>
                    <span>Обновить</span>
                  </button>

                  <button mat-menu-item [routerLink]="['/transaction-history', accounts.id]">
                    <mat-icon>visibility</mat-icon>
                    <span>История транзакции</span>
                  </button>

                  <button mat-menu-item (click)="openCreditModal(accounts.id)">
                    <mat-icon>account_balance </mat-icon>
                    <span>Кредит</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination_block">
        Количество аккаунтов: {{ numAccounts }}
      </div>
    </div>
  </div>






</div>
